backcall==0.2.0
cached-property==1.5.2
certifi==2021.5.30
click==8.1.2
colorama==0.4.4
distlib==0.3.4
Flask==2.1.1
Flask-Login==0.6.1
Flask-SQLAlchemy==2.5.1
flatbuffers==2.0
greenlet==1.1.2
importlib-metadata==4.11.3
ipython-genutils==0.2.0
itsdangerous==2.1.2
Jinja2==3.0.1
keras==2.8.0
libclang==13.0.0
MarkupSafe==2.1.1
mistune==0.8.4
numpy==1.21.6
pickle-mixin==1.0.2
pickleshare==0.7.5
Pillow==7.2.0
platformdirs==2.4.1
prometheus-client==0.13.1
prompt-toolkit==3.0.28
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
Pygments==2.11.2
pyparsing==3.0.7
pyrsistent==0.18.1
pywin32==303
pywinpty==2.0.2
pyzmq==22.3.0
rsa==4.7.2
Send2Trash==1.8.0
six==1.16.0
SQLAlchemy==1.4.36
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
testpath==0.6.0
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
tornado==6.1
traitlets==5.1.1
typing-extensions==3.10.0.0
urllib3==1.26.8
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.1
wrapt==1.12.1
zipp==3.4.1
